*.o
*.a
*.so
*.sed
lib/LavaRnd/have/cam_videodev.h
lib/LavaRnd/have/endian.h
lib/LavaRnd/have/have_getcontext.h
lib/LavaRnd/have/have_getdtablesize.h
lib/LavaRnd/have/have_gethostid.h
lib/LavaRnd/have/have_getpgrp.h
lib/LavaRnd/have/have_getppid.h
lib/LavaRnd/have/have_getprid.h
lib/LavaRnd/have/have_getpriority.h
lib/LavaRnd/have/have_getrlimit.h
lib/LavaRnd/have/have_gettime.h
lib/LavaRnd/have/have_pselect.h
lib/LavaRnd/have/have_rusage.h
lib/LavaRnd/have/have_sbrk.h
lib/LavaRnd/have/have_statfs.h
lib/LavaRnd/have/have_sys_resource.h
lib/LavaRnd/have/have_sys_time.h
lib/LavaRnd/have/have_sys_times.h
lib/LavaRnd/have/have_time.h
lib/LavaRnd/have/have_uid_t.h
lib/LavaRnd/have/have_ustat.h
lib/LavaRnd/have/have_ustat_h.h
lib/LavaRnd/have/ov511_cam.h
lib/LavaRnd/have/pwc_cam.h
.idea/
## shared libs from make all
lib/shared/
## Compiled binaries
daemon/lavapool
daemon/lavaurl
tool/baseconv
tool/camdump
tool/camdumpdir
tool/camget
tool/camsanity
tool/camset
tool/chk_lavarnd
tool/imgtally
tool/lavadump
tool/lavaop
tool/lavaop_i
tool/poolout
tool/ppmhead
tool/tryrnd_exit
tool/tryrnd_retry
tool/tryrnd_return
tool/tryrnd_s100_any
tool/tryrnd_s100_high
tool/tryrnd_s100_med
tool/tryrnd_try_any
tool/tryrnd_try_high
tool/tryrnd_try_med
tool/tryrnd_tryonce_any
tool/tryrnd_tryonce_high
tool/tryrnd_tryonce_med
tool/y2grey
tool/y2pseudoyuv
tool/y2yuv
tool/yuv2ppm
