*.o
*.a
*.so
*.sed
lib/LavaRnd/have/cam_videodev.h
lib/LavaRnd/have/endian.h
lib/LavaRnd/have/have_getcontext.h
lib/LavaRnd/have/have_getdtablesize.h
lib/LavaRnd/have/have_gethostid.h
lib/LavaRnd/have/have_getpgrp.h
lib/LavaRnd/have/have_getppid.h
lib/LavaRnd/have/have_getprid.h
lib/LavaRnd/have/have_getpriority.h
lib/LavaRnd/have/have_getrlimit.h
lib/LavaRnd/have/have_gettime.h
lib/LavaRnd/have/have_pselect.h
lib/LavaRnd/have/have_rusage.h
lib/LavaRnd/have/have_sbrk.h
lib/LavaRnd/have/have_statfs.h
lib/LavaRnd/have/have_sys_resource.h
lib/LavaRnd/have/have_sys_time.h
lib/LavaRnd/have/have_sys_times.h
lib/LavaRnd/have/have_time.h
lib/LavaRnd/have/have_uid_t.h
lib/LavaRnd/have/have_ustat.h
lib/LavaRnd/have/have_ustat_h.h
lib/LavaRnd/have/ov511_cam.h
lib/LavaRnd/have/pwc_cam.h
.idea/
## shared libs from make all
lib/shared/
## Compiled binaries
daemon/lavapool
daemon/lavaurl
tool/baseconv
tool/camdump
tool/camdumpdir
tool/camget
tool/camsanity
tool/camset
tool/chk_lavarnd
tool/imgtally
tool/lavadump
tool/lavaop
tool/lavaop_i
tool/poolout
tool/ppmhead
tool/tryrnd_exit
tool/tryrnd_retry
tool/tryrnd_return
tool/tryrnd_s100_any
tool/tryrnd_s100_high
tool/tryrnd_s100_med
tool/tryrnd_try_any
tool/tryrnd_try_high
tool/tryrnd_try_med
tool/tryrnd_tryonce_any
tool/tryrnd_tryonce_high
tool/tryrnd_tryonce_med
tool/y2grey
tool/y2pseudoyuv
tool/y2yuv
tool/yuv2ppm
## Perllib built crap
perllib/LavaRnd/Exit/Exit.bs
perllib/LavaRnd/Exit/Exit.c
perllib/LavaRnd/Exit/MYMETA.json
perllib/LavaRnd/Exit/MYMETA.yml
perllib/LavaRnd/Exit/Makefile
perllib/LavaRnd/Exit/blib/
perllib/LavaRnd/Exit/pm_to_blib
perllib/LavaRnd/Retry/MYMETA.json
perllib/LavaRnd/Retry/MYMETA.yml
perllib/LavaRnd/Retry/Makefile
perllib/LavaRnd/Retry/Retry.bs
perllib/LavaRnd/Retry/Retry.c
perllib/LavaRnd/Retry/blib/
perllib/LavaRnd/Retry/pm_to_blib
perllib/LavaRnd/Return/MYMETA.json
perllib/LavaRnd/Return/MYMETA.yml
perllib/LavaRnd/Return/Makefile
perllib/LavaRnd/Return/Return.bs
perllib/LavaRnd/Return/Return.c
perllib/LavaRnd/Return/blib/
perllib/LavaRnd/Return/pm_to_blib
perllib/LavaRnd/S100_Any/MYMETA.json
perllib/LavaRnd/S100_Any/MYMETA.yml
perllib/LavaRnd/S100_Any/Makefile
perllib/LavaRnd/S100_Any/S100_Any.bs
perllib/LavaRnd/S100_Any/S100_Any.c
perllib/LavaRnd/S100_Any/blib/
perllib/LavaRnd/S100_Any/pm_to_blib
perllib/LavaRnd/TryOnce_Any/MYMETA.json
perllib/LavaRnd/TryOnce_Any/MYMETA.yml
perllib/LavaRnd/TryOnce_Any/Makefile
perllib/LavaRnd/TryOnce_Any/TryOnce_Any.bs
perllib/LavaRnd/TryOnce_Any/TryOnce_Any.c
perllib/LavaRnd/TryOnce_Any/blib/
perllib/LavaRnd/TryOnce_Any/pm_to_blib
perllib/LavaRnd/Try_Any/MYMETA.json
perllib/LavaRnd/Try_Any/MYMETA.yml
perllib/LavaRnd/Try_Any/Makefile
perllib/LavaRnd/Try_Any/Try_Any.bs
perllib/LavaRnd/Try_Any/Try_Any.c
perllib/LavaRnd/Try_Any/blib/
perllib/LavaRnd/Try_Any/pm_to_blib
perllib/LavaRnd/Util/MYMETA.json
perllib/LavaRnd/Util/MYMETA.yml
perllib/LavaRnd/Util/Makefile
perllib/LavaRnd/Util/Util.bs
perllib/LavaRnd/Util/Util.c
perllib/LavaRnd/Util/blib/
perllib/LavaRnd/Util/pm_to_blib
